body{
    color: #333;
    text-align: center;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #740707;
    margin: 0 auto;
}
#cabecera{
    background-color: #0a2212;
    padding: 12px;
    text-align: center ;
    color: #740707;
}